.contact {
  padding: 2rem;
  background-color: #eaf2f8;
    margin-inline: 30px;
}

.contact h2 {
  color: #2980b9;
   font-size: 2rem;
}

.contact p {
  font-size: 1.1rem;
}

@media (max-width: 600px) {
  .contact p {
    font-size: 1rem;
  }
}